footer{	
	background-color: white;
	width: 100%;
	margin-top: 40px;
	padding: 17px 0 10px;
	background: white url(../images/buta2.png) no-repeat 30% bottom;
}
footer p{
	font-size: 14px;
	margin-left: 6%;
}
footer .incore{
	vertical-align: -11px;
	display: inline-block;
	width: 68px;
	height: 34px;
	background: white url(../images/all.png) -22px -351px;
}
footer .incore:hover{
	background-position:-104px -351px;
}