body{
	background-color: #f4f4f4;
	font-family: arial;
}
.overlay-enabled{
	overflow: hidden;
}
.overlay-enabled .overlay{
	display: block;
}
.overlay{
	display: none;
}
.overlay .overlay-color{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 100;
	opacity: .9;
	background-color: black;
	top: 0;
	left: 0;
}
.overlay .overlay-popup{
	position: absolute;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	left: 50%;
	margin-left: -250px;
	z-index: 101;
	border-radius: 4px; 
	padding: 20px 40px;
}
.overlay .overlay-popup .close{
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../images/all.png) -49px -312px;
	display: block;
	right: 8px;
	top: 7px;
	cursor: pointer;
}
.overlay .overlay-popup .close:hover{
	background-position: -82px -312px;
}
.overlay-enabled .overlay .overlay-popup-login{
	width: 300px;
	top: 20%;
	margin-left: -250px;
	padding: 30px 120px 30px 60px;
}
.overlay .overlay-popup h2{
	font-size: 21px;
	line-height: 1.4;
	margin-bottom: 20px;
	padding-left: 70px;
}
.form td{
	padding: 7px 0;
}
.form .label{
	width: 70px;
	font-size: 14px;
}
.form .field input{
	border: 1px solid #d9d9d9;
	box-shadow: 0 1px 2px #eeeeee inset;
	padding: 7px 5px;
	width: 220px;
	outline: none;
}
.form .field.invalid input{
	border-color: #fbbcbc;
	background-color: #ffeaea;
}
.form .submit{
	padding-top: 15px;
}
.orange{
	color: #f78221;
}
.wrapper{
	width: 89%;
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1280px;
	position: relative;
}
.menu-top nav, .menu-bottom nav{
	margin-left: 25%;
	padding-left: 40px;
	float: left;
}
.menu-top{
	background: #fca120; /* Old browsers */
	background: -moz-linear-gradient(top,  #fca120 0%, #f26622 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fca120), color-stop(100%,#f26622)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fca120 0%,#f26622 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fca120 0%,#f26622 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fca120 0%,#f26622 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fca120 0%,#f26622 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca120', endColorstr='#f26622',GradientType=0 ); /* IE6-9 */
}
.menu-top nav a{
	color: white;
	font-size: 13px;
	line-height: 60px;
	margin-right: 25px;
	text-decoration: none;
	border-bottom: solid 1px #f8a164;
}
.menu-top nav a:hover{
	border-bottom: solid 1px white;
}
.menu-bottom{
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}
.menu-bottom nav a{
	color: #4d4d4d;
	font-size: 13px;
	line-height: 60px;
	margin-right: 25px;
	text-decoration: none;
	border-bottom: solid 1px #c9c9c9;
}
.menu-bottom nav a:hover{
	border-bottom: solid 1px #4d4d4d;
}
.phone{
	font-size: 13px;
	float: right;
	line-height: 56px;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
}
.phone big{
	font-size: 26px;
	vertical-align: -3px;
	margin-left: 10px;
}
.phone small{
	font-size: 16px;
	margin-left: 15px;
	vertical-align: 3px;
}
.language-list{
	position: absolute;
	top: 23px;
	right: 0;
	letter-spacing: 1px;
}

.language-list .language-current{
	border: 1px solid #cccccc;
	color: #f26622;
	padding: 5px 9px 4px;
	font-size: 12px;
	text-decoration: none;
	border-radius: 4px;
}
.language-list .language-current.hover{
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
.language-list .language-current.active{
	background-color: #f4f4f4;
	color: #000000;
	box-shadow: 0 0 5px #cccccc inset;
}
.language-list .language-current:before{
	content: "";
	display: inline-block;
	vertical-align: 1px;
	margin-right: 5px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #cccccc transparent transparent transparent;
}
.language-list .language-current.active:before{
	border-color: #bbbbbb transparent transparent transparent;
}
.language-list .language-popup{
	border: 1px solid #cccccc;
	position: absolute;
	z-index: 1;
	list-style: none;
	padding: 0;
	background-color: white;
	width: 44px;
	border-radius: 4px;
	top:10px;
	padding: 3px;
}
.language-list .language-popup li a{
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	color: #f26622;
	line-height: 20px;
	display: block;
	line-height: 20px;
	padding: 0 3px;
	border-radius: 2px;
}
.language-list .language-popup li a:hover{
	font-size: 12px;
	background-color: #f26622;
	text-decoration: none;
	color: white;
}
.logo{
	width: 25%;
	background-color: white;
	text-align: center;
	padding: 10px 0;
	position: absolute;
	top: 0; 
	left: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	text-decoration: none;
	display: block;
	transition: all .1s;
}
.logo:hover{
	padding: 12px 0;
}
.logo .logo-shop{
	text-transform: uppercase;
	color: #6d6d5e;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 24px;
	margin: 0;
}

.products-all-group{
	height: 371px; 
	margin-top: 30px;
	margin-right: 20px;
	text-align: center;
}
.products-all-group .product-wrapper{
	width: 32%;
	display: inline-block;
	margin-right: 2%
}
.products-all-group .product-wrapper-3rd{
	margin-right: 0;
}
.products-all-group .product-wrapper .product{
	text-align: left;
	background-color:white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	margin: 10px 0 11px 0px;
	border-radius: 4px;
	padding: 25px 13% 25px 15%;
	height: 125px;
}
.products-all-group .product-wrapper:first-child .product{
	background: white url(../images/buta1.png) no-repeat 90% 0;
}
.products-all-group .product-wrapper:last-child .product{
	background: white url(../images/buta3.png) no-repeat -10% 100%;
}
.products-all-group .product-wrapper .product .product-content{
	height: 120px;
	overflow: hidden;
	position: relative;
}
.products-all-group .product-wrapper .product .product-content h3{
	color: #f26522;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
}
.products-all-group .product-wrapper .product .product-content h3 a{
	color: #f26522;
	border-bottom: solid 1px #fcc097;
	text-decoration: none;
}
.products-all-group .product-wrapper .product .product-content h3 a:hover{
	border-bottom-color: #f26522;
}
.products-all-group .product-wrapper .product .product-content p{
	font-size: 13px;
	line-height: 20px;
	margin: 0;
}
.products-all-group .product-wrapper .product .product-content:after{
	content: "";
	width: 100%;
	height: 20px;
	display: block;
	position: absolute;
	bottom: 0;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.slider {
	/*background: white url(../images/slider-1.jpg) no-repeat 112% 0;*/
	background: white;
	height: 371px; 
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	border-radius: 4px;
	margin-top: 40px;
	margin-right: 20px;
}
.slide{
	padding: 18px 6% 77px 7%;
	position: relative;
}
.slide .slide-content{
	position: absolute;
}
.slide .slide-content h1 a{
	text-decoration: none;
	color: black;
}
.slide .slide-content h1{
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 15px;
}
.slide .slide-content p{
	font-size: 16px;
	line-height: 26px;
	width: 60%;
	height: 90px;
}
.slide .slide-image{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	border-radius: 4px;
}
.slide .slide-image img{
	display: block;
	margin-left: 55%;
}
.side-block{
	background: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	border-radius: 4px;
	margin-top: 40px;
	margin-left: 20px;
	height: 371px;
}
.side-block-top{
	padding: 5px 14% 6px;
}
.side-block-top h2{
	font-size: 23px;
	line-height: 28px;
	margin-bottom:0px;
}
.side-block-top p{
	font-size: 13px;
	margin-top: 9px;
	line-height: 18px;
	height: 43px;
	margin-bottom: 0;
}
.side-block nav .product{
	margin-bottom: 19px;
	margin: 0 7% 5px;
	padding: 2px 7% 12px;
	position: relative;
}
.side-block nav .product.product-active{
	cursor: pointer;
	border-radius: 2px;
	background: #f79026; /* Old browsers */
	background: -moz-linear-gradient(top, #f79026 0%, #f56c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f79026), color-stop(100%,#f56c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f79026 0%,#f56c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79026', endColorstr='#f56c1c',GradientType=0 ); /* IE6-9 */
}
.side-block nav .product.product-active:after{
	content: "";
	width: 16px;
	height: 16px;
	display: block;
	background: url(../images/all.png) -25px -320px;
	position: absolute;
	right: 7%;
	top:50%;
	margin-top: -8px;
}
.side-block nav .product.product-active:before{
	background-position: -24px -201px;
}
.side-block nav .product.product-active a{
	color: white;
	border-bottom: solid 1px #faa063;
}
.side-block nav .product.product-active:hover a{
	border-bottom: white solid 1px;
}
.side-block nav .product a{
	color: black;
	text-decoration: none;
	border-bottom: solid 1px #c9c9c9;
	font-weight: bold;
}
.side-block nav .product.product-kasko a{
	border-bottom-style: dashed; 
}
.side-block nav .product:before{
	content: "";
	vertical-align: -7px;
	display: inline-block;
	width: 48px;
	height: 36px;
	background: url(../images/all.png) no-repeat;
}
.side-block nav .product-kasko:before{
	background-position: -24px -158px
}
.side-block nav .product-property:before{
	background-position: -82px -158px
}
.side-block nav .product-trip:before{
	background-position: -140px -158px
}
.side-block nav .product a:hover{
	border-bottom: solid 1px black;
}
.side-block-bottom{
	margin-top: 17px;
}
.side-block-bottom a{
	border-top: 1px solid #f88c53;
	display: block;
	color: white;
	line-height: 55px;
	text-decoration: none;
	border-radius: 0 0 4px 4px;
	padding: 0 17%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .17);
	background: #f79026; /* Old browsers */
	background: -moz-linear-gradient(top, #f79026 0%, #f56c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f79026), color-stop(100%,#f56c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f79026 0%,#f56c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79026', endColorstr='#f56c1c',GradientType=0 ); /* IE6-9 */
}
.side-block-bottom a:hover{
	background: #f9a454; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9a454 0%, #f57724 75%, #f67d33 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9a454), color-stop(75%,#f57724), color-stop(100%,#f67d33)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9a454 0%,#f57724 75%,#f67d33 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9a454 0%,#f57724 75%,#f67d33 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9a454 0%,#f57724 75%,#f67d33 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9a454 0%,#f57724 75%,#f67d33 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a454', endColorstr='#f67d33',GradientType=0 ); /* IE6-9 */
}
.about{
	background: white;
	width: 92%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	margin-top: 40px;
	padding: 20px 3% 45px 5%;
	border-radius: 4px;
}
.about h3{
	font-size: 28px;
	text-align: center;
	margin-bottom: 20px;
}
.tabs{
	text-align: center;
}
.tabs a{
	display: inline-block;
	width: 120px;
	line-height: 39px;
	border: 1px solid #cccccc;
	color: #464646;
	text-decoration: none;
	font-size: 14px;
	padding: 0 34px;
	text-decoration: none;
	border-left: none;
}
.tabs a:first-child{
	border-radius:3px 0 0 3px; 
	border-left: 1px solid #cccccc;
}
.tabs a:last-child{
	border-radius: 0 3px 3px 0; 
}
.tabs a.active{
	background-color: #f4f4f4;
	color: #000000;
	box-shadow: 0 0 5px #cccccc inset;
	pointer-events: none;
}
.tabs a.hover{
	color: #f26622;
}
.tab-content{
	text-align: center;
}
.tab-content .step{
	margin-top: 61px;
}
.tab-content .step{
	width: 13%;
	padding-right: 4%;
	margin-right: 4%;
	background: url(../images/line.png) no-repeat 100% 70px;
	display: inline-block;
	min-height: 250px;
	vertical-align: top;
	text-align: left;
}
.tab-content .step-bigger{
	width: 20%;
}
.tab-content  .step-last{
	padding-right: 0;
	margin-right: 0;
	background: none;
}
.tab-content .step h4{
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 5px;
	margin-top: 22px;
}
.tab-content .step h4 .grey{
	color: #a3a3a3;
	margin-left: -20px;
	margin-right: 4px;
}
.tab-content .step p{
	font-size: 13px;
	line-height: 18px;
	margin: 0;
}
footer{	
	background-color: white;
	width: 100%;
	margin-top: 40px;
	padding: 17px 0 10px;
	background: white url(../images/buta2.png) no-repeat 30% bottom;
}
footer p{
	font-size: 14px;
	margin-left: 6%;
}
footer .incore{
	vertical-align: -11px;
	display: inline-block;
	width: 68px;
	height: 34px;
	background: white url(../images/all.png) -22px -351px;
}
footer .incore:hover{
	background-position:-104px -351px;
}






