body{
	background-color: #f4f4f4;
	font-family: arial;
}
.orange{
	color: #f78221;
}
.wrapper{
	width: 89%;
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1280px;
	position: relative;
}
.menu-top nav, .menu-bottom nav{
	margin-left: 25%;
	padding-left: 40px;
	float: left;
}
.menu-top{
	background: #fca120; /* Old browsers */
	background: -moz-linear-gradient(top,  #fca120 0%, #f26622 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fca120), color-stop(100%,#f26622)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fca120 0%,#f26622 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fca120 0%,#f26622 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fca120 0%,#f26622 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fca120 0%,#f26622 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca120', endColorstr='#f26622',GradientType=0 ); /* IE6-9 */
}
.menu-top nav a{
	color: white;
	font-size: 13px;
	line-height: 60px;
	margin-right: 25px;
	text-decoration: none;
	border-bottom: solid 1px #f8a164;
}
.menu-top nav a:hover{
	border-bottom: solid 1px white;
}
.menu-bottom{
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}
.menu-bottom nav a{
	color: #4d4d4d;
	font-size: 13px;
	line-height: 60px;
	margin-right: 25px;
	text-decoration: none;
	border-bottom: solid 1px #c9c9c9;
}
.menu-bottom nav a:hover{
	border-bottom: solid 1px #4d4d4d;
}
.phone{
	font-size: 13px;
	float: right;
	line-height: 56px;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
}
.phone big{
	font-size: 26px;
	margin-left: 15px;
	color: white;
	vertical-align: -3px;
}
.language-list{
	position: absolute;
	top: 23px;
	right: 0;
	letter-spacing: 1px;
}

.language-list .language-current{
	border: 1px solid #cccccc;
	color: #f26622;
	padding: 5px 9px 4px;
	font-size: 12px;
	text-decoration: none;
	border-radius: 4px;
}
.language-list .language-current.hover{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
.language-list .language-current.active{
	background-color: #f4f4f4;
	color: #000000;
	box-shadow: 0 0 5px #cccccc inset;
}
.language-list .language-current:before{
	content: "";
	display: inline-block;
	vertical-align: 1px;
	margin-right: 5px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #cccccc transparent transparent transparent;
}
.language-list .language-current.active:before{
	border-color: #bbbbbb transparent transparent transparent;
}
.language-list .language-popup{
	border: 1px solid #cccccc;
	position: absolute;
	z-index: 1;
	list-style: none;
	padding: 0;
	background-color: white;
	width: 44px;
	border-radius: 4px;
	top:10px;
	padding: 3px;
}
.language-list .language-popup li a{
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	color: #f26622;
	line-height: 20px;
	display: block;
	line-height: 20px;
	padding: 0 3px;
	border-radius: 2px;
}
.language-list .language-popup li a:hover{
	font-size: 12px;
	background-color: #f26622;
	text-decoration: none;
	color: white;
}
.logo{
	width: 25%;
	background-color: white;
	text-align: center;
	padding: 10px 0;
	position: absolute;
	top: 0; 
	left: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	text-decoration: none;
	display: block;
	transition: all .1s;
}
.logo:hover{
	padding: 12px 0;
}
.logo .logo-shop{
	text-transform: uppercase;
	color: #6d6d5e;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 24px;
	margin: 0;
}

.kasko-products{
	height: 371px; 
	margin-top: 30px;
	margin-right: 20px;
	text-align: center;
	margin-left: -10px;
}
.kasko-products .product-wrapper{
	width: 33.33333333333%;
	display: inline-block;
}
.kasko-products .product-wrapper .product{
	text-align: left;
	background-color:white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	margin: 10px 10px 10px 10px;
	border-radius: 4px;
	padding: 25px 30px;
	height: 125px;
}
.kasko-products .product-wrapper .product h3{
	color: #f26522;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
}
.kasko-products .product-wrapper .product p{
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
.slider {
	/*background: white url(../images/slider-1.jpg) no-repeat 112% 0;*/
	background: white;
	height: 371px; 
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	border-radius: 4px;
	margin-top: 40px;
	margin-right: 20px;
}
.slide{
	padding: 18px 6% 77px 7%;
	position: relative;
}
.slide .slide-content{
	position: absolute;
}
.slide .slide-content h1 a{
	text-decoration: none;
	color: black;
}
.slide .slide-content h1{
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 15px;
}
.slide .slide-content p{
	font-size: 16px;
	line-height: 26px;
	width: 60%;
	height: 90px;
}
.slide .slide-image{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}
.slide .slide-image img{
	display: block;
	position: absolute;
	left: 55%;
}
.side-block{
	background: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	border-radius: 4px;
	margin-top: 40px;
	margin-left: 20px;
}
.side-block-top{
	padding: 5px 15% 0;
}
.side-block-top h2{
	font-size: 23px;
	line-height: 28px;
	margin-bottom:0px;
}
.side-block-top p{
	font-size: 13px;
	margin-top: 9px;
	line-height: 18px;
	height: 43px;
}
.side-block-top nav .product{
	margin-bottom: 25px;
}
.side-block-top nav .product a{
	color: black;
	margin: 10px 0;
	text-decoration: none;
	border-bottom: solid 1px #c9c9c9;
	margin-left: 50px;
}
.side-block-top nav .product a:hover{
	border-bottom: solid 1px black;
}
.side-block-top nav .product a img{
	margin-left: -50px;
	margin-right: 15px;
	vertical-align: -5px;
}
.side-block-bottom{
	margin-top: 31px;
}
.side-block-bottom a{
	border-top: 1px solid #f88c53;
	display: block;
	color: white;
	line-height: 55px;
	text-decoration: none;
	border-radius: 0 0 4px 4px;
	padding: 0 17%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .17);
	background: #f79026; /* Old browsers */
	background: -moz-linear-gradient(top, #f79026 0%, #f56c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f79026), color-stop(100%,#f56c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f79026 0%,#f56c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79026', endColorstr='#f56c1c',GradientType=0 ); /* IE6-9 */
}
.about{
	background: white;
	width: 92%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	margin-top: 40px;
	padding: 20px 3% 20px 5%;
}
.about h3{
	font-size: 28px;
	text-align: center;
	margin-bottom: 20px;
}
.tabs{
	text-align: center;
}
.tabs a{
	display: inline-block;
	width: 120px;
	line-height: 39px;
	border: 1px solid #cccccc;
	color: #464646;
	text-decoration: none;
	font-size: 14px;
	padding: 0 34px;
	text-decoration: none;
	border-left: none;
}
.tabs a:first-child{
	border-radius:3px 0 0 3px; 
	border-left: 1px solid #cccccc;
}
.tabs a:last-child{
	border-radius: 0 3px 3px 0; 
}
.tabs a.active{
	background-color: #f4f4f4;
	color: #000000;
	box-shadow: 0 0 5px #cccccc inset;
	pointer-events: none;
}
.tabs a.hover{
	color: #f26622;
}
.tab-content{
	text-align: center;
}
.tab-content .step{
	margin-top: 61px;
}
.tab-content .step{
	width: 13%;
	padding-right: 4%;
	margin-right: 4%;
	background: url(../images/line.png) no-repeat 100% 70px;
	display: inline-block;
	height: 250px;
	vertical-align: top;
	text-align: left;
}
.tab-content .step-bigger{
	width: 20%;
}
.tab-content .step:last-child{
	padding-right: 0;
	margin-right: 0;
	background: none;
}
.tab-content .step h4{
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 5px;
	margin-top: 22px;
}
.tab-content .step h4 .grey{
	color: #a3a3a3;
	margin-left: -20px;
	margin-right: 4px;
}
.tab-content .step p{
	font-size: 13px;
	line-height: 18px;
	margin: 0;
}






