.col-3-4{
	float: left;
	width: 75%;
}
.col-1-4{
	float: left;
	width: 25%;
}
.col-1-2{
	float: left;
	width: 50%;
}
.col-1-5{
	float: left;
	width: 20%;
}


/*--------Retina images-------*/
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { 
	.logo{
		background: white url(../images/all@2x.png) 50% 0 no-repeat;
		background-size: 319px 403px;
	}
	.side-block nav .product:before, 
	.tab-content .step:before, 
	.overlay .overlay-popup .close,
	footer .incore,
	.side-block nav .product.product-active:after{
		background-image: url(../images/all@2x.png);
		background-size: 319px 403px;
	}	
}