.button, button{
	border: 1px solid #d55e18;
	padding: 0 30px;
	line-height: 40px;
	color: white;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .17);
	outline: none;
	background: #f79026; /* Old browsers */
	background: -moz-linear-gradient(top, #f79026 0%, #f56c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f79026), color-stop(100%,#f56c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f79026 0%,#f56c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79026', endColorstr='#f56c1c',GradientType=0 ); /* IE6-9 */
}
.button:hover, button:hover{
	background: #f9a454; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9a454 0%, #f57724 75%, #f67d33 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9a454), color-stop(75%,#f57724), color-stop(100%,#f67d33)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9a454 0%,#f57724 75%,#f67d33 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9a454 0%,#f57724 75%,#f67d33 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9a454 0%,#f57724 75%,#f67d33 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9a454 0%,#f57724 75%,#f67d33 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a454', endColorstr='#f67d33',GradientType=0 ); /* IE6-9 */
}
.button:active, button:active{
	box-shadow: 0 1px 3px #af4c15 inset;
	background: #f79026; /* Old browsers */
	background: -moz-linear-gradient(top, #f79026 0%, #f56c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f79026), color-stop(100%,#f56c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f79026 0%,#f56c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79026', endColorstr='#f56c1c',GradientType=0 ); /* IE6-9 */
}
.button-onmain{
	border: 1px solid #d55e18;
	padding: 0 32px 0 44px;
	line-height: 55px;
	color: white;
	margin-top: 30px;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .17);
	background: #f79026; /* Old browsers */
	background: -moz-linear-gradient(top, #f79026 0%, #f56c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f79026), color-stop(100%,#f56c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f79026 0%,#f56c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f79026 0%,#f56c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79026', endColorstr='#f56c1c',GradientType=0 ); /* IE6-9 */
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.fotorama__nav-wrap{
	
}
.fotorama .fotorama__nav__frame.fotorama__active .fotorama__dot, .fotorama .fotorama__nav__frame .fotorama__dot{
	width: 10px;
	height: 10px;
	border: 1px solid #b0b0b0;
	background-color: white;
}
.fotorama .fotorama__nav__frame.fotorama__active .fotorama__dot{
	box-shadow: 0 0 5px #cccccc inset;
	background-color: #f4f4f4;
}
.fotorama__nav--dots .fotorama__nav__frame{
	width: 24px !important;
}
.fotorama__wrap--css3 .fotorama__arr--next, .fotorama__wrap--css3 .fotorama__arr--prev{
	display: none !important;
}