body{
	background-color: #f4f4f4;
	font-family: arial;
}
.orange{
	color: #f78221;
}
.pseudo{
	border-bottom-style: dashed !important; 
}
.wrapper{
	width: 89%;
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1280px;
	position: relative;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.fotorama__nav-wrap{
	
}
.fotorama .fotorama__nav__frame.fotorama__active .fotorama__dot, .fotorama .fotorama__nav__frame .fotorama__dot{
	width: 10px;
	height: 10px;
	border: 1px solid #b0b0b0;
	background-color: white;
}
.fotorama .fotorama__nav__frame.fotorama__active .fotorama__dot{
	box-shadow: 0 0 5px #cccccc inset;
	background-color: #f4f4f4;
}
.fotorama__nav--dots .fotorama__nav__frame{
	width: 24px !important;
}
.fotorama__wrap--css3 .fotorama__arr--next, .fotorama__wrap--css3 .fotorama__arr--prev{
	display: none !important;
}